
<h1>Pirate</h1>
    <p>Name: <%=@pirate.name%></p>
    <p>Weight: <%=@pirate.weight%></p>
    <p>Height: <%=@pirate.height%></p>
<h2>Ships</h2>
  <% @ships.each do |ship| %>
    <p><%= ship.name %></p>
    <p><%= ship.type %></p>
    <p><%= ship.booty %></p>
    <% end %>
